---
import '../styles/global.css'; 
import Header from '../components/Header.astro';
---

<html lang="en">		
		<head>
			<meta charset="utf-8" />
			<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
			<meta name="viewport" content="width=device-width" />
			<meta name="generator" content={Astro.generator} />
			<title>MooseCoding</title>
		</head>
		<body>
			<Header />
			
			<div class="container">
				<div class="hero">
					<!-- Insert Picture Here -->
				</div>

				<div class="content">
					<h2>Welcome</h2>
					<p>This is content</p>
				</div>
			</div>
		</body>
</html>
