---
import '../styles/global.css';
---

<div class="header">
    <h1>My Project</h1>
    
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/blog">Blog</a>
    </div>
</div>